@let borders: "./borders.css";
@import small from "./breakpoints.css";
@import secondary, blue as primary from "./colors.css";

.foo {
  composes: dashed from borders;
  background: blue;
  border-color: secondary;
}

@media small {
  .foo {
    background: white;
  }
}
