@let borders: "./borders.css", breakpoints: "./breakpoints.css";
@import small from breakpoints;
@import secondary, primary as blue from "./colors.css";

.foo {
  composes: dashed from borders;
  background: blue;
  border-color: secondary;
}

@media small {
  .foo {
    background: white;
  }
}
