
._media_queries_source__red {
  color: red;
}

@media (max-width: 30em) {
  ._media_queries_source__red {
    color: maroon;
  }
}

@media (max-width: 60em) {
  ._media_queries_source__red {
    color: darkmagenta;
  }
}

@media (max-width: 90em) {
  ._media_queries_source__red {
    color: fuchsia;
  }
}
