@custom-media --small (max-width: 30em);
@custom-media --medium (max-width: 60em);
@custom-media --small (max-width: 30em);
@custom-media --medium (max-width: 60em);
@custom-media --large (max-width: 90em);

._media_queries_source__red {
  color: red;
}

@media (--small) {
  ._media_queries_source__red {
    color: maroon;
  }
}

@media (--medium) {
  ._media_queries_source__red {
    color: darkmagenta;
  }
}

@media (--large) {
  ._media_queries_source__red {
    color: fuchsia;
  }
}
