@custom-media --small from "./breakpoints.css";
@custom-media --medium from "./breakpoints.css";
@custom-media --large (max-width: 90em);

.red {
  color: red;
}

@media (--small) {
  .red {
    color: maroon;
  }
}

@media (--medium) {
  .red {
    color: darkmagenta;
  }
}

@media (--large) {
  .red {
    color: fuchsia;
  }
}
