:exports {
  --small: --x__breakpoints__small;
  --medium: --x__breakpoints__medium;
  --large: --x__breakpoints__large;
}

@custom-media --x__breakpoints__small (max-width: 30em);
@custom-media --x__breakpoints__medium (max-width: 60em);
@custom-media --x__breakpoints__large (max-width: 90em);
