@custom-media --x__source__small (max-width: 30em);
@custom-media --x__source__medium (max-width: 60em);
@custom-media --x__source__large (max-width: 90em);

._media-queries_source__red {
  color: red;
}

@media (max-width: 30em) {
  ._media-queries_source__red {
    color: maroon;
  }
}

@media (max-width: 60em) {
  ._media-queries_source__red {
    color: darkmagenta;
  }
}

@media (max-width: 90em) {
  ._media-queries_source__red {
    color: fuchsia;
  }
}
