._constants_borders__dashed {
  border: 4px dashed;
}


._constants_source__foo {
  background: aquamarine;
  border-color: red;
}

@media (max-width: 599px) {
  ._constants_source__foo {
    background: white;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  ._constants_source__foo {
    background: peru;
  }
}
